{% extends 'layout/base.html' %}
{% load static %}

{% block css %}

<style>
    .hero {
        background-image: url('{% static "img/me.png" %}');
        background-repeat: no-repeat;
        background-position: left bottom;
        filter: drop-shadow(5px 5px 5px rgb(22, 85, 187));
        position: absolute;
        top: 0;
        left: 0;
        overflow-x: hidden;

    }

    .hero-text {
        font-size: 5rem;
        font-weight: bolder;
        color: white;
        line-height: 5rem;
        transition: all .2s ease-in-out;
    }

    .hero-text:hover {
        color: #00bcd4;
    }

    .card-cover {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* skill design */
    .skills {

        border-radius: 10px;
        box-shadow: 0 9px 18px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    }

    .skills-bar {
        padding: 25px 30px;
    }

    .skills-bar .bar {
        margin: 25px 0;
    }

    .skills-bar .bar .info span {
        font-size: 1rem;
        font-weight: 500;
    }

    .skills-bar .bar .info {
        margin-bottom: 8px;
        color: #1fbaf8;
    }

    .skills-bar .bar .progress-line {
        position: relative;
        height: 10px;

        background: #f0f0f0;
        border-radius: 10px;
        transform: scaleX(0);
        transform-origin: left;
        animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    }

    .bar .progress-line span {
        position: absolute;
        background: #25b79f;
        height: 100%;
        border-radius: 10px;
        transform: scaleX(0);
        transform-origin: left;
        animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    }

    @keyframes animate {
        100% {
            transform: scaleX(1);
        }
    }

    .progress-line .html {
        width: 80%;
    }

    .progress-line .css {
        width: 70%;
    }

    .progress-line .bootstrap {
        width: 82%;
    }

    .progress-line .javascript {
        width: 62%;
    }

    .progress-line .c {
        width: 90%;
    }

    .bar .progress-line span::before {
        position: absolute;
        content: "";
        height: 0;
        right: 0;
        top: -14px;
        width: 0;
        border: 7px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-top-style: #f0f0f0;
        border-top-color: #07374a;
    }

    .bar .progress-line span::after {
        position: absolute;
        right: 0;
        top: -28px;
        color: #f0f0f0;
        font-size: 12px;
        font-weight: 700;
        background: #07374a;
        padding: 1px 8px;
        border-radius: 3px;
    }




    .progress-line .css::after {
        content: "70%";
    }

    .progress-line .bootstrap::after {
        content: "82%";
    }

    .progress-line .javascript::after {
        content: "62%";
    }

    .progress-line .c::after {
        content: "90%";
    }

    /* ////........Media Query........//// */

    @media (max-width: 700px) {
        .skills {
            width: 80%;
        }

        .skills-bar .bar .progress-line {
            width: 100%;
        }
    }

    #hero-wrapper {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
    }
</style>

{% endblock css %}


{% block body %}
<div id="hero-wrapper"></div>
<div class="container-fluid hero vh-100" id="hero">
    <div class="row vh-100">
        <div class="col-6 offset-md-5 hero-text my-auto">
            <h2>Hello i am Meghan</h2>
            <p>
                <span class="myinfo">I am a full stack developer</span>
            </p>
        </div>
    </div>
</div>
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 text-white display-1">My Work</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">


        {% for project in project_list %}
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('{{project.img.url}}');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{project.name}}</h2>
                    <div class="card-body">
                        <p class="lead">{{project.desc|truncatewords:15}}</p>
                    </div>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <a href="{{project.link}}" target="_blank">
                                <lord-icon src="https://cdn.lordicon.com/gqzfzudq.json" trigger="loop-on-hover"
                                    colors="primary:#e8e230,secondary:#ffff21" style="width:50px;height:50px">
                                </lord-icon>
                            </a>
                        </li>
                        <li class="d-flex align-items-center ">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill"></use>
                            </svg>
                            <small>{{project.tech}}</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {% empty %}
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#geo-fill"></use>
                            </svg>
                            <small>Earth</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3"></use>
                            </svg>
                            <small>3d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
</div>
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 text-white display-1">My Skills</h2>
    <div class="skills">
        <div class="skills-bar">

            {% for skill in skill_list %}
            <div class="bar">
                <div class="info">
                    <span>{{skill.name}}</span>
                </div>
                <div class="progress-line"><span class="{{skill.name}}"></span></div>
            </div>
            {% empty %}

            {% endfor %}

        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
{% endblock body %}


{% block js %}
<script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
<script src="{% static 'js/particles.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.0/typed.min.js"
    integrity="sha512-zKaK6G2LZC5YZTX0vKmD7xOwd1zrEEMal4zlTf5Ved/A1RrnW+qt8pWDfo7oz+xeChECS/P9dv6EDwwPwelFfQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var typed = new Typed('.myinfo', {
        strings: ["I am a full stack developer",
            "I know Html, Css & JS",
            "I am also profecient in Django"],
        typeSpeed: 10,
        shuffle: true,
        backSpeed: 100,
        backDelay: 2000,
        loop: true
    });

</script>
{% endblock js %}